@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
    background: white;
   
}
#profilePic {
  border: 1px solid black;
  width: 300px;
  height: 300Px;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  left: -10px;
  top: -10px;
}

#introP{
  position: relative;
  left: -10px;
  top: -50px;
  font-family: Lobster, cursive;
  font-weight: bolder;
  font-size: 18px;
  
}




  
